$primary-color: #292666;
$secondary-color: #364C61;
$text-color: #939598;
$text-color-1: #292666;
$text-color-2: #2A3F54;
$text-color-3: #8D939B;
$text-disabled: #ACB2BA;
$link-color: #F2F1FF;
$link-color-1: #F8F8F8;
$grey-1: #ACB2BA;
$grey-2: #D1D1D1;
$grey-3: #F2F2F2;
$grey-4: #F5F5F5;
$grey-5:#F1F1F1;
$grey-6: #FAFAFA;
$white-color: white;
$black-color: #000;
$status-green: #1BD365;
$status-red: #FF3C3C;
$border-color: #EDEDED